button {
    border: none;
    background: none;
}

#contact_modal {
    display: none;
}

.photograph_description {
    margin-top: 40px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 1;
}

.contact_button:hover {
    background-color: #DB8876;
    color: #000;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* PHOTOGRAPHER PAGE */

.infos_wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
    order: 0;
}

.title {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.city {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.citation {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
}

.picture {
    width: 200px;
    height: 200px;
    fill: #C4C4C4;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    object-fit: cover;
    order: 2;
}

/* PHOTOGRAPH INFOS  */

.photograph_infos {
    position: fixed;
    right: 36px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 376px;
    border-radius: 5px;
    background-color: #DB8876;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    padding: 20px 34px 20px 34px;
}

.total_likes_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.total_likes_icon {
    color: black;
    font-size: 20px;
}

/* GALLERY */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 30px;
}

.item_img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.item_video {
    cursor: pointer;
}

.item_description {
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_title {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item_likeWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.item_likeCount {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
}

.like_icon {
    color: #901C1C;
    font-size: 19px;
    cursor: pointer;
}

/* MODAL FORM*/

.modal_background {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(196, 196, 196, 0.40);
}

.modal_wrapper {
    background-color: #DB8876;
    border-radius: 5px;
    width: 669px;
    padding: 15px 35px 38px 35px;
}

.modal_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.modal_top_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.modal_close_button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.close_button_icon {
    color: white;
    font-size: 40px;
}

.modal_form_title {
    font-family: DM Sans;
    font-size: 54px;
    font-weight: 400;
    margin: 0;
}

.form_data_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
}

.label {
    font-size: 30px;
    color: #312E2E;
}

.input {
    height: 38px;
    font-family: DM Sans;
    font-size: 17px;
    color: #312E2E;
    padding-left: 5px;
    margin-bottom: 10px;
}

.input_message {
    height: 100px;
    margin-bottom: 26px;
}

.submit_button {
    width: 170px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    background: #901C1C;
    padding-top: 22px;
    padding-bottom: 22px;
}

.formName {
    margin-bottom: 19px;
}

/* SORT */

.filter_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 111px;
    gap: 25px;
    width: 270px;
    justify-content: space-between;
}

.filter_title {
    color: #000;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
}

.list_wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link_container {
    border-bottom: solid 1px white;
    padding: 14px 10px 14px 10px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
}

.link_container_title {
    border-bottom: none;
}

.textBox_wrapper {
    display: flex;
    flex-direction: column;
    width: 170px;
    background-color: #F7F7F7;
    border-radius: 0px 0px 10px 10px;
}

.textBox_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 0;
    border-radius: 5px;
    background: #901C1C;
    padding-left: 20px;
    padding-bottom: 14px;
    padding-top: 14px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.textBox_description {
    position: absolute;
    z-index: 1;
    bottom: 126px;
    width: 150px;
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #F7F7F7;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    border-radius: 0 0 5px 5px;
    background: #901C1C;    
    list-style: none;
    cursor: pointer;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.summary-chevron-up {
    position: absolute;
    right: 10px;
}

.summary-chevron-down {
    display: none;
    position: absolute;
    right: 10px;
}

details[open] .summary-chevron-up {
    display: none;
}

details[open] .summary-chevron-down {
    display: block;
}

/* Preview Gallery */

.preview_background {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.40);
}

.preview_picture_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 22px 94px 19px 94px;
    background-color: white;
}

.preview_close_button {
    position: absolute;
    right: 27px;
    top: 32px;
    cursor: pointer;
}

.preview_close_button_icon {
    color: #901C1C;
    font-size: 45px;
}

.preview_picture {
    height: 670px;
    margin-bottom: 12px;
}

.preview_video {
    height: 600px;
    margin-bottom: 12px;
}

.chevron_wrapper {
    padding: 0;
}

.chevron {
    position: absolute;
    color: #901C1C;
    font-size: 45px;
    cursor: pointer;
}

.fa-chevron-left {
    left: 38px;
    top: 399px;
}

.fa-chevron-right {
    right: 38px;
    top: 399px;
}

.preview_title_wrapper {
    width: 450px;
    padding-left: 85px;
    padding-top: 12px;
}

.preview_title {
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
}